
/*Clear default margin, padding and border from any elements that we're using in our HTML.*/
html, body, div, span, h1, h2, h3, h4, a, ol, ul, li, form, label, article, aside, figure, figcaption, footer, header, nav {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*Make sure font properties get inherited.*/
    font: inherit;
    vertical-align: baseline;
  }


/*Remove default styling from lists.*/
ol, ul {
  list-style: none;
}

/*Give text in the body a line-height of 1.5.*/
body {
    line-height: 1.5;
    }
/*Make sure images always take up the width of their parents.*/
img {
    width: 100%
  }